
%h1 Extensions
%br
%table
  %tr
    %td= link_to "Farrah Iqbal (2542)", cdr_entries_path(:extension => "2542")
  %tr
    %td= link_to "Kenny Lees (2543)", cdr_entries_path(:extension => "2543")


