%h3 Call Volume
= render :partial => "graph", :locals => {:data => data[:call_volume], :id => "#{id}_volume"}

%h3 Call Duration
= render :partial => "graph", :locals => {:data => data[:call_duration], :id => "#{id}_duration"}
