
-#%h2 Daily Calls
-#= render :partial => "reports", :locals => {:data => @daily_data, :id => "daily"}

%h2 Weekly Calls
= render :partial => "reports", :locals => {:data => @weekly_data, :id => "weekly"}

%h2 Monthly Calls
= render :partial => "reports", :locals => {:data => @monthly_data, :id => "monthly"}
